{% extends "base.html" %}

{% block content %}

<a class="btn btn-dark btn-lg" href="{% url 'pessoa:novo' %}"><i class="fa-solid fa-plus"></i></a>

<br></br>

<table class="table table-striped table-dark">
    <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Nif</th>
        <th>CC</th>
        <th>Email</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

{% for object in object_list %}
<tr>
    <td>{{ object.nome }}</td>
    <td>{{ object.idade }}</td>
    <td>{{ object.nif }}</td>
    <td>{{ object.cc }}</td>
    <td>{{ object.email }}</td>
    <td><a class="btn btn-dark btn-lg" href="{% url 'pessoa:detalhe' object.id %}"><i class="fa-solid fa-eye"></i></a></td>
    <td><a class="btn btn-primary btn-lg" href="{% url 'pessoa:atualizar' object.id %}"><i class="fa-solid fa-pencil"></i></a></td>
    <td><a class="btn btn-danger btn-lg" href="{% url 'pessoa:eliminar' object.id %}"><i class="fa-solid fa-trash"></i></td>
</tr>
{% endfor %}
</table>

{% endblock %}