{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class = "content-section">
    <h3>Animal</h3>
    <hr>
    <form method="POST">
        {% csrf_token %}

        {{ form|crispy }}

        <br></br>

        <button class="btn btn-outline-primary btn-lg" type="submit"><i class="fa-solid fa-floppy-disk"></i></i></button>
        <a class="btn btn-outline-danger btn-lg" href="{% url 'animal:detalhe' object.id %}"><i class="fa-sharp fa-solid fa-arrow-left"></i></a>
        <td><a href="{% url 'animal:atualizar' object.id %}"></a></td>

    </form>

</div>


{% endblock %}