<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="main.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	</head>
	
	<body>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
      
      <nav class="navbar navbar-expand-lg bg-dark static-top mb-5 shadow">
        <div class="container-fluid">
          <a class="navbar-brand mb-0 h1" style ="color:whitesmoke">
            <img src="https://i.pinimg.com/originals/64/be/90/64be90192556966769ac42102a38fc6c.jpg" width="50" height="50" alt=""> AppGM
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <button type="button" class="btn btn-dark btn-lg">
                <a class="nav-link active" href="{% url 'animal:home' %}" style ="color:whitesmoke">Home</a>
              </button>
              <button type="button" class="btn btn-dark btn-lg">
                <a class="nav-link active" href="{% url 'animal:lista' %}" style ="color:whitesmoke">Animais</a>
              </button>
              <button type="button" class="btn btn-dark btn-lg">
                <a class="nav-link active" href="{% url 'pessoa:lista' %}" style ="color:whitesmoke">Pessoas</a>
              </button>
              <button type="button" class="btn btn-dark btn-lg">
                <a class="nav-link active" href="{% url 'animal:about' %}" style ="color:whitesmoke">About</a>
              </button>
              <button type="button" class="btn btn-dark btn-lg">
                <a class="nav-link active" href="{% url 'pessoa:contacts' %}" style ="color:whitesmoke">Contact</a>
              </button>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <div  class="bg-image" style="background-image: url('https://wallpaperaccess.com/full/1296113.jpg');">
        <div class="container">
          <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
              <h1 class="fw-light">App</h1>
              <div>{% block content %}{% endblock %}</div>
              <div style="height: 700px"></div>
            </div>
          </div>
        </div>
      

      </div>    
        


   
        
    
  </body>
	
</html>